body {
    font-family: 'Consolas', monospace;
    background-color: #1e1e1e;
    color: #d3d3d3;
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: -20px;
}

.github-link {
    color: #42a85d;
    text-decoration: none;
    font-size: x-large;

}

.info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px;
}

.profile-photo {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-right: 20px;
}

.contact-info {
    max-width: 400px;
    text-align: left; /* Выравнивание текста влево */
}

.contact-info h2 {
    margin-top: 0;
}

.linkedin-link {
    color: #90ee90; /* Светло-зеленый */
    text-decoration: none;
}

.sidebar-inner-contents {
    width: 50%;
    justify-content: right;
}

.sidebar-inner-main {
    width: 50%;
    justify-content: left;
}

.content {
    display: flex;
    width: 100%;
    justify-content: center;
}

.sidebar {
    width: 100%;
    background-color: #2a2a2a;
    padding: 15px;
    border-radius: 5px;
    margin-right: 15px; /* Отступ между сайдбаром и контентом */
    alignment: left;
}

.sidebar h2, .main-content h2 {
    color: #61dafb;
}

.main-content {
    width: 100%;
    alignment: right;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar a {
    color: #61dafb;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}
